<!DOCTYPE html>
<!-- prettier-ignore -->
<html lang="en">
  <%- include('header'); %>
  <body>
    <%- include('navigator'); %>
    
    <!-- component -->
    <div class="my-2 py-16 h-screen bg-slate-100">
      <div
        class="py-6 align-middle block w-5/6 overflow-hidden border border-slate-300 bg-white rounded-bl-lg rounded-lg justify-center mx-auto">
        <table class="min-w-full">
          <div class="flex justify-end mr-7">
          </div>
          <thead>
            <tr>
              <th
                class="px-6 text-center	 py-3 border-b-2 border-gray-300 text-left leading-4 text-gray-900 tracking-wider">
                Image
              </th>
              <th
                class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-900 tracking-wider">
                Username
              </th>
              <th
                class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-900 tracking-wider">
                Full Name
              </th>
              <th
                class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-900 tracking-wider">
                Email
              </th>
              <th
                class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-900 tracking-wider">
                Year of Birth
              </th>
              <th
                class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-gray-900 tracking-wider">
                Role
              </th>
              <th class="px-6 py-3 border-b-2 border-gray-300"></th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <% users.forEach(function(user) { %>
            <tr>
              <td
                class="pl-16 py-4 whitespace-no-wrap border-b border-gray-300">
                <div class="relative h-10 w-10">
                  <img
                    class="h-full w-full rounded-full object-cover object-center"
                    src="<%= user.image %>" alt="<%= user.name %>" />
                </div>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
                <div class="text-sm leading-5 text-blue-900">
                  <%= user.username %>
                </div>
              </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-300 text-sm leading-5">
                <%= user.name %>
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap border-b border-gray-300 text-blue-900 text-sm leading-5">
                <%= user.email %>
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap border-b border-gray-300 text-blue-900 text-sm leading-5">
                <%= user.YOB %>
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap border-b border-gray-300 text-blue-900 text-sm leading-5">
                User
              </td>
            </tr>
            <% }); %> <!-- end of user.forEach -->
          </tbody>
        </table>
      </div>
    </div>

  </body>
</html>
